*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    text-align: center;
}
.container h1{
font-size : 4rem;
color: teal;
margin-top: 1.5rem;
}

.container h3{
    font-size: 2rem;
    color: teal;
    margin-top: -0.5rem;
}

.container button{
    padding: 10px 25px;
    font-size: 10px;
    font-weight: bold;
    transform: capitalize;
    background-color:teal;
    margin-top: 1.5rem;
    color:whitesmoke;
}